<div class="container-fluid filtrosAsistencia" style="padding:5em 1.5em">
	<div class="row text-center">
		<strong>Seleccione mes y curso para empezar:</strong>
	</div>
	<div class="row">
		<select name="mes-asistencia" data-icon="false">
			<option value="empty">Mes</option>
			{{#each this.months}}
				{{#.}}
			<option value="{{this.key}}">{{this.month}}</option>
				{{/.}}
			{{/each}}
		</select>
	</div>
	<div class="row">
		<select name="curso-asistencia" data-icon="false">
		    <option value="empty">Curso</option>
		{{#each this.cursos}}
		    {{#.}}
		    <option value="{{this.value}}">{{this.label}}</option>
		    {{/.}}
		{{/each}}
		</select>	
	</div>
	<div class="row">
		<button id="filtrarAsistencia">Filtrar</button>
	</div>
</div>