<div class="container-fluid">
	<h2>{{nombre}}</h2>
	<div class="clearfix"></div>
	<table>
		<tr>
			<th>Profesor</th><th>&nbsp;:&nbsp;</th>
			<td>{{autor}}</td>
		</tr>
		<tr>
			<th>Asignatura</th><th>&nbsp;:&nbsp;</th>
			<td>{{sectorNombre}}</td>
		</tr>
		<tr>
			<th>Nivel</th><th>&nbsp;:&nbsp;</th>
			<td>{{nivelNombre}}</td>
		</tr>
		<tr>
			<th>Unidad</th><th>&nbsp;:&nbsp;</th>
			<td>{{unidadNombre}}</td>
		</tr>
		<tr>
			<th>Inicio</th><th>&nbsp;:&nbsp;</th>
			<td>{{fechainibonita}}</td>
		</tr>
		<tr>
			<th>T&eacute;rmino</th><th>&nbsp;:&nbsp;</th>
			<td>{{fechafinbonita}}</td>
		</tr>
		<tr>
			<th>Duración</th><th>&nbsp;:&nbsp;</th>
			<td>{{horas}}</td>
		</tr>
	</table>
	<div class="row">
		<p>
			{{observacion}}
		</p>
	</div>
</div>