<div class="login-container">
	<div class="logo"></div>
	<div class="well">
		<input type="text" name="user" id="txt-email" class="full-input" placeholder="Usuario"/>
		<input type="password" name="pass" id="txt-password" class="full-input last" placeholder="Contraseña"/>
	</div>
	<a href="#dlg-invalid-credentials" data-rel="popup" data-transition="pop" data-position-to="window" id="btn-login" class="ui-btn ui-btn-b ui-corner-all mc-top-margin-1-5 btn-login">Entrar <i class="fa fa-sign-in"></i></a>
</div>