<div class="viewContainer">
	<fieldset>
        <div class="padding1em rounded-border">
            <table data-role="table" class="ui-responsive ui-shadow" id="gk-5299A7V" is="jqm-table">
                <thead>
                    <tr>
                        <th data-priority="1">Código</th>
                        <th data-priority="1">Nivel</th>
                        <th data-priority="1">Asignatura</th>
                        <th data-priority="1">Autor</th>
                        <th data-priority="1">Clases</th>
                        <th data-priority="1">Horas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nivelNombre}}</td>
                        <td>{{this.sectorNombre}}</td>
                        <td>{{this.autor}}</td>
                        <td>{{this.numeroClases}}</td>
                        <td>{{this.horas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
	<div class="clearfix"></div>
	<ul id="clases" data-role="listview" data-inset="false">
	{{#each this.clases}}
		{{#.}}
    	<li id="clase-li-{{this.id}}" class="ejecucion-clase-{{this.ejecucion}}" data-icon="false">
            <div class="col-90">
                <div class="col-70">
                    <h3>{{this.nombre}}</h3>
                    <p>
                        {{this.fechainibonita}} - {{this.fechafinbonita}}<br/>
                        {{this.horas}} horas
                    </p>
                </div>
                <div class="containing-element col-30">
                    <div class="ui-field-contain switch-clases">
                        <select id="{{this.id}}" class="switch-clases" data-role="flipswitch" data-mini="true">
                            <option value="off"{{#ifCond this.ejecucion 0}} selected="selected"{{/ifCond}}></option>
                            <option value="on"{{#ifCond this.ejecucion 1}} selected="selected"{{/ifCond}}></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-10 menu-container">
                <a href="#popupMenu{{this.id}}" class="menu" data-rel="popup" data-transition="appear">
                    <i class="fa fa-ellipsis-v fa-2x pull-right"></i>
                </a>
                <div data-role="popup" id="popupMenu{{this.id}}" data-theme="b">
                    <ul data-role="listview" data-inset="true" style="min-width:180px;">
                        <li data-icon="false"><a href="{{this.id}}" class="ver-clase">Ver</a></li>
                        <li data-icon="false"><a href="{{this.id}}" class="eliminar-clase">Eliminar</a></li>
                        <li data-icon="false"><a href="{{this.id}}" class="tarea-clase">Tarea{{#if this.tareaAmount}}({{this.tareaAmount}}){{/if}}</a></li>
                    </ul>
                </div>
            </div>
        </li>
    	{{/.}}
    {{/each}}
	</ul>
</div>