<div class="container-fluid">
	<h2>{{nombre}}</h2>
	<div class="clearfix"></div>
	<table class="detailUnit">
		<tr>
			<th>Profesor</th><th>&nbsp;:&nbsp;</th>
			<td>{{autor}}</td>
		</tr>
		<tr>
			<th>Asignatura</th><th>&nbsp;:&nbsp;</th>
			<td>{{sectorNombre}}</td>
		</tr>
		<tr>
			<th>Nivel</th><th>&nbsp;:&nbsp;</th>
			<td>{{nivelNombre}}</td>
		</tr>

		<tr>
			<th>Inicio</th><th>&nbsp;:&nbsp;</th>
			<td>{{fechaBonitaIni}}</td>
		</tr>
		<tr>
			<th>T&eacute;rmino</th><th>&nbsp;:&nbsp;</th>
			<td>{{fechaBonitaFin}}</td>
		</tr>		<tr>
			<th>Duración</th><th>&nbsp;:&nbsp;</th>
			<td>{{horas}}</td>
		</tr>
		<tr>
			<th>Clases</th><th>&nbsp;:&nbsp;</th>
			<td>{{numeroClases}}</td>
		</tr>
		<!--
		<tr>
			<th>Validado Por</th><th>&nbsp;:&nbsp;</th>
			<td>  </td>
		</tr>
		-->
	</table>
	<div class="row" style="border-bottom:1px solid #333;">
		<p style="padding:1em;">
			{{observacion}}
		</p>
	</div>
	{{#if this.clases}}
		<h2>Clases</h2>
		<div class="clearfix"></div>
		<ul data-role="listview">
		{{#each this.clases}}
			{{#.}}
			<li data-icon="false">
				<a href="#">
					<h3>{{this.nombre}}</h3>
					<p>{{this.fechainibonita}} - {{this.fechafinbonita}}</p>
				</a>
			</li>
			{{/.}}
		{{/each}}
		</ul>
	{{/if}}
</div>