*{
	padding:0px;
	margin:0px;
	font-family:Helvetica, Tahoma;
}
body,html{
	height:100%;
	width:100%;
	background-color:#ddd;
}
.clearfix{
	clear:both;
	display: block;
	width:100%;
	height:2em;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}
html .ui-body-a,
html .ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a{
	border-color:#afafaf;
}
.hidden{
	display:none;
}
.ui-panel-wrapper{
	height:100%;
}
#contenido{
	height:100%;
	padding:1em 0;
}
/* Change html headers color */
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}
.well{
	width:100%;
	padding:0.7em 0;
	background-color:#31366d;
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
}
input.full-input{
	box-sizing: border-box;
	padding:1em;
	margin-bottom: 0.7em;
	line-height: 1em;
	font-size:1em;
	width:100%;
	border:none;
	background-color:#31366d;
	color:#fff;
	border-radius:0px;
	moz-border-radius:0px;
	webkit-border-radius:0px;
}
input.full-input:focus{
	border:none;
	outline: none;
}
input.full-input.last{
	border-top:1px solid #888;
	margin-bottom: 0;
	padding-top: 1.3em;
}
input[type="text"],input[type="password"]{
    font-family: FontAwesome, Helvetica;
}
.logo{
	background:url(../img/logoWC.png) no-repeat 1px;
	border-radius: 50%;
    display: block;
    height: 176px;
    margin: 0 auto 10px;
    width: 176px;
    line-height: 176px;
}
.btn-login{
	background-color:#d43f3a !important;
	background-color: #d9534f !important;
}
.login-icon{
	position:absolute;
	color:#fff;
	right:0px;
}
.login-container{
	padding:0.5em;
	margin-top:-1em;
}
.login-container div, .login-container .ui-input-text{
	border:none !important;
}
ul#eventos, ul#eventos li, ul.eventos, ul.eventos li{
	/*width:100%;*/
}
ul#eventos li a, ul#eventos li a:visited{
	line-height: 1.5em;
	text-decoration: none;
	color:#c9c9c9;
	font-weight: bolder;
	font-size: 1em;
	border:none;
	background:none;
}
ul#eventos li.headerMes{
	position:relative;
	text-align: center;
	width:100%;
	line-height: 1.5em;
	text-decoration: none;
	color:#666;
	font-weight: bolder;
	font-size: 1.5em;
	border:none;
	background:#ddd;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
ul#eventos li.header{
	position:relative;
	text-align: center;
	width:100%;
	line-height: 1.5em;
	text-decoration: none;
	color:#fff;
	font-weight: bolder;
	font-size: 1em;
	border:none;
	background:#555;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
ul#eventos li.headerMes #month{
	margin:0 auto;
	display: inline-block;
	width:100%;
	position:relative;
	left:-0.5em;
}
ul#eventos li.headerMes .control{
	position:absolute;
	display:inline-block;
	clear:both;
	height:1em;
	line-height: 1em;
	width:1em;
	color:#666;
	font-size:1.5em;
	z-index:5;
}
ul#eventos li.headerMes .control.prev{
	float:left;
}
ul#eventos li.headerMes .control.next{
	float:right;
	right:0;
	padding-right:1.5em;
}
ul.eventos li.evento{
	color:#fff;
	border:none;
	background:rgba(0,0,0,0);
	list-style: none;
	line-height: 1.5em;
	padding:4px;
	clear:both;
	position: relative;
	font-color:#6a6a6a;
}
ul.eventos li.evento::after{
	background: black;
    content: "";
    height: 4em;
    left: 2em;
    position: absolute;
    top: 2em;
    width: 0.15em;
    z-index: 0;
}
ul.eventos li.evento:last-child::after{
	display: none;
}
ul#eventos li .badge-evento{
	border-radius:50%;
	moz-border-radius:50%;
	webkit-border-radius:50%;
	border: 1px solid black;
	height:100%;
	width:1.5em;
	float:left;
	text-align: center;
	color:#666;
	position:relative;
	z-index:2;
}
ul.eventos li .titulo-evento{
	color:#6A6A6A;
	width:75%;
	line-height: 1.5em;
	margin-left:0.5em;
	float:left;
}
ul.eventos li .detalles-evento{
	color:#6A6A6A;
	width:75%;
	line-height: 1.5em;
	margin-left:0.5em;
	float:left;
}
ul.eventos li .detalles-evento .fecha{
	color:#6A6A6A;
	width:75%;
	line-height: 1.5em;
	margin-left:0.5em;
	font-size:1em;
	font-weight: normal;
}
.evento-1 .badge-evento{
	background-color:#D9C6E2;
}
.evento-1 .badge-evento:after{
	content:'P';
}
.evento-2 .badge-evento{
	background-color:#CDCDCD;
}
.evento-2 .badge-evento:after{
	content:'G';
}
.evento-3 .badge-evento{
	background-color:#CFF689;
}
.evento-3 .badge-evento:after{
	content:'C';
}
.evento-4 .badge-evento{
	background-color:#00E0DA;
}
.evento-4 .badge-evento:after{
	content:'Pr';
}
ul#unidades li{
	padding:0 1em;
}
.unidad .estado-utp-1,.unidad .estado-utp-1:visited{
	background-color:#8AE68A !important;
}
.unidad .estado-utp-0,.unidad .estado-utp-0:visited{
	background-color:#E68A8A !important;
}
.col-10{
	float:left;
	width:8%;
}
.col-20{
	float:left;
	width:18%;
}
.col-30{
	float:left;
	width:28%;
}
.col-70{
	float: left;
	width:68%;
}
.col-80{
	float:left;
	width:78%;
}
.col-90{
	float:left;
	width:88%;
}
canvas.radialLoader{
	background-color: #eeeeee;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	padding:2px;
}
.hidden{
	display:none;
}
.padding1em{
	padding:1em;
}
#logoSplash{
	height:70vh;
	display:block;
	text-align: center;
}
.reset{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1em;
}
#clases li{
	padding:0 1em 0 1.5em;
}
#clases li .menu{
	height: 3em;
	width: 100%;
	display:block;
	position:relative;
}
#clases li .menu i{
	line-height: 2.2em;
	color:#000;
}
#clases li div{
	z-index:11;
	position:relative;
	background:transparent;
}
.ejecucion-clase-0, .ejecucion-clase-0:visited, .ejecucion-clase-0 a{
	background-color:#E68A8A !important;
}
.changeState, .changeState:visited, .changeState a{
	background-color:#8AE68A;
	-webkit-animation: changeState 0.5s linear 0s 1 alternate; /* Chrome, Safari, Opera */
    animation: changeState 0.5s linear 0s 1 alternate;
}
.removeState, .removeState:visited, .removeState a{
	background-color:#8AE68A;
	-webkit-animation: removeState 0.5s linear 0s 1 alternate; /* Chrome, Safari, Opera */
    animation: removeState 0.5s linear 0s 1 alternate;
}
.swipeIndicator{
	position:absolute;
	top:35%;
	right:20%;
	height:1.5em;
	line-height: 1.5em;
	width:1.5em;
	border-radius: 50%;
	background-color:rgba(127,127,127,0.6);
	text-align: center;
}
.ejecucion-clase-1 .swipeIndicator span{
	width: 0;
    height: 0;
    display:inline-block;
    border-top:0.5em solid transparent;
    border-bottom:0.5em solid transparent;
    border-right:0.5em solid #8AE68A;
    position: relative;
    -webkit-animation: rightArrow 2s linear 0s infinite alternate; /* Chrome, Safari, Opera */
    animation: rightArrow 2s linear 0s infinite alternate;
}
.ejecucion-clase-1, .ejecucion-clase-1:visited, .ejecucion-clase-1 a{
	background-color:#8AE68A !important;
}
.ejecucion-clase-0 .swipeIndicator span{
	width: 0;
    height: 0;
    display:inline-block;
    border-top:0.5em solid transparent;
    border-bottom:0.5em solid transparent;
    border-left:0.5em solid #E68A8A;
    position: relative;
    -webkit-animation: leftArrow 2s linear 0s infinite alternate; /* Chrome, Safari, Opera */
    animation: leftArrow 2s linear 0s infinite alternate;
}
.rounded-border{
	margin:2%;
	border:1px solid #ccc;
	border-radius:2%;
	-moz-border-radius:2%;
	-webkit-border-radius:2%;
	background-color:rgba(127,127,127,.1);
}
.switch-clases .ui-flipswitch.ui-flipswitch-active{
	background-color:#2ca850 !important;
	border-color:#2ca850 !important;
}
.switch-clases .ui-flipswitch{
	background-color:#a86d8d !important;
	border-color:#a86d8d !important;
}
.text-center{
	text-align: center;
}
.ui-flipswitch.ui-flipswitch-active{
	width:5.875em !important;
}
html .ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html body .ui-btn.ui-btn-a.ui-btn-active,
html .ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
html .ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active{
	background-color: inherit;
	border: none;
}
.menu-flotante{
	position:absolute;
	z-index:1000;
	width:50%;
	list-style: none;
	background-color:rgba(0,0,0,0.8);
	color:#FFFFFF;
	right:-15%;
	top:10%;
}
.menu-flotante a, .menu-flotante a:visited{
	color:#D8D8D8;
}
#nav-header{
	height:3em;
	background: rgba(0, 0, 0, 0) linear-gradient(91deg, rgb(32, 138, 212) 0%, rgb(38, 174, 223) 70%) repeat scroll 0 0 !important;
}
html .ui-page-theme-a .ui-btn, 
html .ui-bar-a .ui-btn, 
html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, 
html body .ui-btn.ui-btn-a, 
html .ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, 
html .ui-body-a .ui-btn:visited, 
html body .ui-group-theme-a .ui-btn:visited, 
html body .ui-btn.ui-btn-a:visited{
	background-color:rgb(32, 138, 212);
	border:none !important;
}
html .ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html body .ui-btn.ui-btn-a:hover{
	background: rgb(38, 174, 223);
	border:none;
}
#backButton{
	position:absolute;
	top:.54em;
	left:.4em;
	line-height:1.9em;
	font-weight: normal;
}
.header-btn{
	width: 3em;
	height: 3em;
	line-height: 4em;
	display: block;
	float: left;
	font-weight: bolder;
}
.background-clase{
	position:absolute !important;
	z-index:1 !important;
	width:100%;
	height:100%;
	left:0;
	box-shadow: -1px 0px 14px #666;
}
.background-clase.active{
	z-index:10 !important;
}
/* DE ACA PARA ABAJO SOLO ANIMACIONES, KEYFRAMES, ETC */
/* Chrome, Safari, Opera */
@-webkit-keyframes leftArrow {
    0%   {left:0px;}
    25%  {left:3px;}
    50%  {left:0px;}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes leftArrow {
    0%   {left:0px;}
    25%  {left:3px;}
    50%  {left:0px;}
    100% {left:0px;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rightArrow {
    0%   {right:0px;}
    25%  {right:3px;}
    50%  {right:0px;}
    100% {right:0px;}
}

/* Standard syntax */
@keyframes rightArrow {
    0%   {right:0px;}
    25%  {right:3px;}
    50%  {right:0px;}
    100% {right:0px;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes changeState {
    0%   {background-color:#E68A8A;}
    25%  {background-color:#C3AC8A;}
    50%  {background-color:#ACC38A;}
    100% {background-color:#8AE68A;}
}

/* Standard syntax */
@keyframes rightArrow changeState{
    0%   {background-color:#E68A8A;}
    25%  {background-color:#C3AC8A;}
    50%  {background-color:#ACC38A;}
    100% {background-color:#8AE68A;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes removeState {
    0%   {background-color:#8AE68A;}
    25%  {background-color:#ACC38A;}
    50%  {background-color:#C3AC8A;}
    100% {background-color:#E68A8A;}
}

/* Standard syntax */
@keyframes rightArrow removeState{
    0%   {background-color:#8AE68A;}
    25%  {background-color:#ACC38A;}
    50%  {background-color:#C3AC8A;}
    100% {background-color:#E68A8A;}
}
